.wrapper{
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:flex-start;
}

.settings{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    background-color:rgb(69, 115, 175);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem rgb(208, 208, 245);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5rem;
    width: 20rem;
}

.settings input{
    width: 5rem;
    text-align:center;
}

.submit{
    background-color: rgb(33, 151, 230);
    border:0;
    box-shadow: 0.1rem 0.1rem rgb(160, 231, 231);
    color:white;
    font-weight:bold;
}

.submit:hover{
    background-color: aqua;
}

.submit:active{
    background-color: rgb(18, 18, 51);
}

.drawarea{
    background-color: gray;
    width: 25rem;
    height: 25rem;
    display:flex;
    flex-flow:column nowrap;
    gap: 1px;
    justify-content:space-evenly;
    border: 1px solid blue;
}

.row{
    display:flex;
    flex-flow:row nowrap;
    gap: 1px;
    justify-content:space-evenly;
    flex:1 1 auto;
    /*border: 1px solid blue;*/
}

.cell{
    flex: 1 1 auto;
    background-color: white;
}

.activated{
    background-color:black;
}